<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <h1 class="navbar-brand">Apartement Syariah, Your Syariah Planner 😊</h1>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="/<%= user.role.toLowerCase() %>/apartement">Apartement</a>
        </li>
        <% if (user.role === 'Host') { %>
          <li class="nav-item" style="width: 300px;">
            <a class="nav-link" href="/<%= user.role.toLowerCase() %>/apartement/add">Add Apartement</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 500px;" class="nav-link" href="/logout" id="logoutLink">Logout</a>
          </li>
        <% }else {%>
          <li class="nav-item">
            <a class="nav-link" href="/<%= user.role.toLowerCase() %>/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a style="margin-left: 750px;" class="nav-link" href="/logout" id="logoutLink">Logout</a>
          </li>
        <%} %>
      </ul>
    </div>
  </div>
</nav>